[submodule "third_party/flessd"]
	path = third_party/flessd
	url = https://github.com/SSE4/flessd.git
[submodule "third_party/pciids"]
	path = third_party/pciids
	url = https://github.com/pciutils/pciids.git
